:root {
    --pink: #F3668A;
    --light: #f2f2f2;
    --dark: #1f1f1f;
}

body,
html {
    min-height: 100vh;
    margin: 0;
}

body {
    font-family: "Rubik", serif;
}

header {
    background-color: var(--pink);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.hero {
    background-color: var(--pink);
    height: 100%;
}

.container {
    position: relative;
    z-index: 2;
    margin: 0 auto;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

.content-box {
    width: 100%;
}

footer {
    text-align: center;
}