:root {
    --pink: #F3668A;
    --light: #f2f2f2;
    --dark: #1f1f1f;
}

body,
html {
    min-height: 100vh;
    margin: 0;
}

body {
    font-family: "Rubik", serif;
}

header {
    background-color: var(--pink);
    padding: 20px 50px;
    display: flex;
}

.hero {
    background-image: url("../images/hero_bg.webp");
    mix-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 50px;
    height: 100vh;
}

footer {
    text-align: center;
}